#card_header{
    color:blue;
    font-size: x-large;
    position: middle;
}
#time{
    color: blue;
    font-size:medium;
}
#need{
    font-size:medium;
}
#closecircle{
  color: lightgrey;
  position: absolute;
  right: 20px;
}
