#card_header{
    color:blue;
    font-size: x-large;
    position: middle;
}
#time{
    color: blue;
    font-size:x-large;
}
#date{
    font-size:medium;
}
#need{
    font-size:medium;
}
.arrow{
    position: absolute;
    height: 20px;
    right: 20px;
}