ion-navbar{
  text-align: center;
}
.title{
  text-align: center;
  font-size: 25px;
}
.center{
  text-align: center;
}
#date{
  font-size: 20px;
}
.horaire{
  font-size: 23px;
}
.horaire strong{
  color: #007aff;
}

